@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Unbounded:wght@200;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 4em;
  font-family: Unbounded;
  font-weight: 900;
}

.marquee {
  min-width:unset;
}
.marquee-container {
  position: absolute;
  bottom: 0;
  background-color: #a3e635;
}

.marquee__item {
  margin-left: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.marquee__item > svg {
  margin-right: 20px;
}
